.card-class2{
    width: 1520px;
    height: 900px;
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    border: 300px 300px;
    box-shadow: 4px 6px rgba(0, 0, 0, 0.12), 0 3px 4px rgba(0, 0, 0, 0.24);
    position: relative;
    margin: 20px auto;
}
.img-detail{
    width: 375px;
    height: 500px;
}
